* {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.box {
  width: 200px;
  padding: 30px;
  color: white;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 1.5em;
  font-family: arial, serif, sans-serif;
}

.box1 {
  background-color: #1dd0ad;
}

.box2 {
  background-color: #2fcc7d;
}

.box3 {
  background-color: #3498db;
}

.box4 {
  background-color: #c066ff;
  align-self: center;
}

.box5 {
  background-color: #363766;
}

.box6 {
  background-color: #f1ef00;
}

.box7 {
  background-color: #f9940f;
}

.box8 {
  background-color: #f40f0f;
}

.box9 {
  background-color: #b0aab0;
}

.box10 {
  background-color: #626a65;
}

.box11 {
  background-color: #1dd0ad;
}

.box12 {
  background-color: #2fcc7d;
}

.box13 {
  background-color: #3498db;
}

.box14 {
  background-color: #c066ff;
}

.box15 {
  background-color: #363766;
}

.box16 {
  background-color: #f1ef00;
}

.box17 {
  background-color: #f9940f;
}

.box18 {
  background-color: #f40f0f;
}

.box19 {
  background-color: #b0aab0;
}